body {
  background-image: url("src/bombastic.gif");
  background-size: cover;
}

a {
  text-decoration: none;
  color:black;
}

div {
  text-align: center;
}

#bottom-div {
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
}


a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
